.choose-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50% !important;
}

.group__btn {
    margin: 0 !important;
    display: flex;
    width: 20% !important;
}

.home__panel {
    display: flex;
    align-items: center;
}

.form {
    width: 50%;
}
