@import "./variables.css";

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    color: inherit;
}

body {
    min-height: 100svh;
    margin: 0;
    background: var(--color-bg-content);

    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text);
}

.modal__container {
    display: flex;
    flex-direction: column;
    align-content: center;
}
