.PanelContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 16px;
}
